{% extends "components/base/base_admin.html.twig" %}
{% block scripts %}
{% endblock %}
{% block body %}

    <div class="card mb-5">
        {% if comment is defined and comment is not null %}
            <div class="card-body">
                {{ comment.content | raw }}
            </div>
        {% endif %}
    </div>

{% endblock %}
