/**
CSS stylesheet for administration app.
For general app check app.css
 */

body {
    background-color: #6abeef33;
}

/**
header nav
 */
#adminNav {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#adminNav .navbar-brand, #adminNav .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

#adminNav .navbar-nav .nav-link:focus, #adminNav .navbar-nav .nav-link:hover {
    font-style: italic;
    text-transform: none;

}

/**
tables
 */

/* Custom CSS for reusable table styles */
.table-container {
    margin: 20px 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.custom-table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
}

.custom-table-head th {
    background-color: #343a40;
    color: white;
}

.custom-table tr {
    background-color: white;
}

.custom-table tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.custom-table .column-actions{
    width: 300px;
}

/* Pagination styles */
.custom-pagination .btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.custom-pagination .page-numbers {
    font-size: 1.25rem;
    font-weight: bold;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    z-index: 9999; /* Assurez-vous que l'overlay est au-dessus de tout */
    display: flex;
    flex-direction: column; /* Pour disposer les éléments verticalement */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loading-overlay h2 {
    font-size: 24px;
    color: #333; /* Assurez-vous que la couleur du texte contraste bien avec l'arrière-plan */
    margin-bottom: 20px;
}

.spinner {
    border: 8px solid #f3f3f3; /* Couleur du bord externe */
    border-radius: 50%;
    border-top: 8px solid #3498db; /* Couleur du bord supérieur */
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
