{% extends "components/base/base_admin.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Ajout d'un post</h1>
        </div>

        <div class="card-body">
            <form method="POST" action="{{path('add_user_action')}}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col col-md-6">
                        {{ form_rows.title | raw }}
                    </div>
                    <div class="col col-md-6">
                        {{ form_rows.category | raw }}
                    </div>
                </div>
                <div class="row">
                    {{ form_rows.content | raw }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}