{% extends "components/base/base_admin.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Ajout d'un post</h1>
        </div>

        <div class="card-body">
{{ form | raw }}
        </div>
    </div>
{% endblock %}