{% extends "components/base/base_admin.html.twig" %}

{% block body %}

    <div class="card mb-5">
        <div class="card-header">
            <h1>Liste des posts</h1>
        </div>

        <div class="card-body">
            <div class="row justify-content-end">
                <div class="col col-md-4 text-end">
                    <a class="btn btn-primary" href={{ path('add_post_form')}}>
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>Ajouter un post</span>
                    </a>
                </div>
            </div>
            {% if post is defined and post is not null %}
                {{ post.content | raw }}
            {% endif %}
        </div>
    </div>

{% endblock %}