{% set asset_path = '../../' %}
{% extends "components/base/base_admin.html.twig"%}

{% block body %}
    <div class="card mb-md-5">
        <div class="card-header">
            <h1>Modification d'un utilisateur</h1>
        </div>

        <div class="card-body">
            {{ edit_form | raw }}
        </div>

    </div>

{% endblock %}