{% extends "components/base/base_admin.html.twig" %}

{% block body %}
    <div class="card mb-5">
        <div class="card-header">
            <h1>Liste des utilisateurs</h1>
        </div>

        <div class="card-body">
            {% if users is defined and users is not null %}
                <div>
                    <div class="row justify-content-end">
                        <div class="col col-md-4 text-end">
                            <a class="btn btn-primary" href={{ path('admin_add_user_form')}}>
                                <span><i class="fa-solid fa-plus"></i></span>
                                <span>Ajouter un utilisateur</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        {{ table | raw }}
                    </div>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}