{% extends "components/base/base.html.twig" %}

{% block body %}
	{% for user in users %}
	<ul class="list-group mb-3">
	{% for key, value in user %}
		<li class="list-group-item">{{value}}</li>
	{% endfor %}
	</ul>
	
	{% endfor %}

{% endblock %}
