{% extends "components/base/base.html.twig" %}

{% block body %}
    <h1>Accueil</h1>
    <ul class="list-unstyled">
        {% for element in content %}
            <li>{{ element }}</li>
        {% endfor %}
    </ul>

<pre>{{ content }}</pre>

{% endblock %}